body > footer {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #00AD69;
    color: white;
}
body > footer a {
    color: white;
    color: rgba(255, 255, 255, 0.9);
}
